body {
  margin: 0;
  background-image: url("./assets/images/bg_1.jpg");
  background-size: cover;
}

.game {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  .status {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 70px 0 10px 0;

    .next, .winner {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;

      span {
        font-size: 16px;
        font-family: "Microsoft YaHei UI";
      }

      img {
      }
    }
  }

  .board {
    background-image: url("./assets/images/board_bg.jpg");
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 5px 5px 5px #888;
    //border: 8px solid #662e1e;
    //border-radius: 8px;

    .square {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      position: relative;

      button {
        border-style: none;
        outline: none;
        //box-shadow: 0 0 4px #888;
        padding: 0;

        &.black-chess {
          background-image: url("./assets/images/black_bg.png");
          background-size: cover;
        }

        &.white-chess {
          background-image: url("./assets/images/white_bg.png");
          background-size: cover;
        }
      }

      .red-dot {
        position: absolute;
        width: 6px;
        height: 6px;
        background-color: red;
        border-radius: 6px;
        top: 50%;
        left: 50%;
        margin-top: -3px;
        margin-left: -3px;
      }
    }
  }

  .btn-area {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin-top: 20px;

    button {
      //height: 36px;
      border-style: none;
      outline: none;
      font-size: 16px;
      color: white;
      font-weight: bold;
      background-image: linear-gradient(#c8a470, #8c542f);
      border-radius: 10px;
      font-family: "Microsoft YaHei UI";
      padding: 10px 20px;
    }
  }
}